@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
body{
    font-family: "proxima-nova"
}

footer {
    position:static;
    bottom:10px;
    border-top:1px solid #e3e3e3;
    width:100%;
    left:0px;
    text-align:center;
    padding:10px;
    background-color: #26262a
}
div #header{

}
#nav-footer a{
    color:rgba(255,255,255,.4);
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none; 
}
#nav-footer a:hover{
    cursor: pointer;
    color: white;
}
.navbar{
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    color: rgba(255,255,255,.8);
}
/*Change layout for non-mobile browsers*/
@media screen and (min-width:768px){
.navbar-brand{
    visibility: hidden;
}

}
