@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

footer {
    position:fixed;
    bottom:10px;
    border-top:1px solid #e3e3e3;
    width:100%;
    left:0px;
    text-align:center;
    padding:10px;
    background-color: #26262a
}
#nav-footer a{
    font-family: "proxima-nova";
    color:rgba(255,255,255,.4);
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none; 
}
#nav-footer a:hover{
    cursor: pointer;
    color: white;
}
.navbar{
    font-family: "proxima-nova";
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    color: rgba(255,255,255,.8);
}
