<!-- Home -->

<div class="backgroundImg" style = "background-image: url('img/rainer.jpg')">
    <p id="textOverlay">More Content</p>
</div>

<div class ="container" ng-repeat="ele in data">
	<h4>{{ele.Title}}</h4>
    <p>{{ele.Content}}</p>
    <div ng-if="ele.Images!=null"> 
        <div class="row">
            <div class = "col-xs-4" ng-repeat="image in ele.Images">
                <a href ="" class="thumbnail" style="border:none">
                    <img id="thumbnail-projects" ng-src="{{image}}"alt ="link"/>
                </a>
            </div>
        </div>
    </div>
    <hr>
</div> 

<!-- Recent accomplishments will include a Boostrap thumbnail -->

<!-- REST API -->