<!-- Home -->

<div class="backgroundImg" style = "background-image: url('img/rainer.jpg')">
    <p id="textOverlay">More Content</p>
</div>

<div class ="container" ng-repeat="ele in data">
	<h4>{{ele.Title}}</h4>
    <p>{{ele.Content}}</p>
    <div ng-if="ele.Images!=null"> 
        <div class="row"> 
            <div class = "col-xs-4" ng-repeat="image in ele.Images">
                <a ng-click="scrollTo(dawg-coffee)" class="thumbnail" style="border:none">
                    <img id="thumbnail-projects" ng-src="{{image}}"alt ="link"/>
                </a>
            </div>
        </div>
    </div>
    <hr>
</div> 

<!-- Recent accomplishments will include a Boostrap thumbnail -->

<!-- REST API -->
<!-- ui-sref="projects({'#':'dawg-coffee'})" -->
<!-- On hover ngShow a button with the title of 'View Project' which links to the URL  -->
<!-- FA are displayed in an UL and use an ngIf statment to queue the UL (ie check to see if 'Contents' is an Array and has more than one elements) -->