<!--Projects page -->
<div class="backgroundImg" style = "background-image: url('img/projects.jpg')">
    <p id="textOverlay">More Content</p>
</div>
<div class="container" ng-repeat="ele in data">
    <h4>{{ele.Title}}</h4>
    <p>{{ele.Content}}</p>
    <div ng-if="ele.Images!=null"> 
        <div class="row">
            <div class = "col-xs-4" ng-repeat="image in ele.Images">
                <a ng-click ="scrollTo(ele.Links[0])" class="thumbnail" style="border:none">
                    <img id="thumbnail-projects" ng-src="{{image}}"/>
                    {{ele.Links[0]}}
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
    <!-- Create a div for each project that is in the JSON -->
    <div ng-repeat="ele in data" ng-if="ele.Project!=null">
        <div class="container" ng-attr-id="{{ele.Link}}">
                <h3>{{ele.Project}}</h3>
                <h5>THE CHALLENGE</h5>
                <p>{{ele.Description}}</p>
                <h5>SKILLS REQUIRED</h5>
                    <ul ng-repeat="skill in ele.Skills">
                        <li>{{skill}}</li>
                    </ul>
                <a ng-href="http://students.washington.edu/foxtjack/info343/{{ele.Link}}" target="_blank">LINK TO STUDENT WEB PAGE</a>
                <hr>
        </div>
    </div>
</div>

<!-- ng-attr id = {{expression}} 