<div class="backgroundImg" style = "background-image: url('img/seattle.jpg')">
    <p id="textOverlay">Share</p>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-4" ng-repeat="ele in data">
			<ul>
				<li ng-show="ele.Title =='Skills' || ele.Content!= null" id ="resumeTitle">{{ele.Title}}</li>	
				<li ng-repeat="skill in ele.Content" id="resumeSkills">{{skill}}</li>
			</ul>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12" ng-repeat="ele in data">
			<ul>
				<li ng-show="ele.Title =='Work Experience'"id="resumeTitle">{{ele.Title}}</li>	
				<li ng-repeat="job in ele.Jobs" id="resumeHeader" style="padding-top:20px;">{{job.Company}}
					<ul>
					<li id="resumeHeader">{{job.Title}}</li>
					<li id="resumeSkills">{{job.Description}}</li>
					</ul>
				</li>	
			</ul>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12" ng-repeat="ele in data">
			<ul>
				<li ng-show="ele.Title=='Education'"id="resumeTitle">{{ele.Title}}</li>
				<li ng-repeat="school in ele.Schools" id="resumeHeader">{{school.Name}}
					<ul>
						<li id="resumeSkills">{{school.Location}}</li>	
					</ul>
				</li>
			</ul>		
		</div>
	</div>
	<div id="padding"></div>
</div>	
